body {
  @include font();
  @include fields();
  position: relative;
  min-width: $mobile;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font;
  background-color: $dark;
  color: $white;
  overflow-x: hidden;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1 {
  color: $white;
  text-align: center;
  margin-bottom: 40px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}

section {
  border-radius: 20px;
  background-color: $dark;
  box-shadow: -2px -2px 6px rgba($white, .1),
  4px 4px 12px rgba($black, .8);
}
