.flex {
  @include desktop();
}

.flex__list {
  @include ul();
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  align-content: flex-end;
}

.flex__item {
  width: 25%;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-of-type(6) {
    align-self: flex-start;
    margin: 0;
  }
}

.flex__item img {
  @include img();
}
