.float {
  @include desktop();
}

.float__list {
  @include ul();

  &--clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

.float__item {
  float: left;
  padding: 20px;
  border-radius: 10px;
  width: 25%;

  & img {
    @include img();
  }
}
